.form {
        background-color: #e99bf0;
        margin: 80px 200px 100px 400px;
        color: black;
        width: 500px;
        padding: 10px;
        font-size: larger;
        font-family: cursive;
      }

      .form h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      .button {
        display: flex;
        justify-content: center;
        padding: 10px;
      }